# Declare files that will always have LF line endings on checkout.
/src/main/res/raw/install text eol=lf

# Denote all files that are truly binary and should not be modified.
/src/main/res/raw/acc_bundle binary
